<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2016 kt corp. All rights reserved.
  ~
  ~  This is a proprietary software of kt corp, and you may not use this file
  ~  except in compliance with license agreement with kt corp. Any redistribution
  ~  or use of this software, with or without modification shall be strictly
  ~  prohibited without prior written approval of kt corp, and the copyright
  ~  notice above does not evidence any actual or intended publication of such
  ~  software.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kt.rozenavi">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".RozeNaviApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="OMSHomeDir"
            android:value="{EXTERNAL}/telos" />
	    <!--
	    <meta-data
            android:name="RozeHomeDir"
            android:value="{EXTERNAL}/navihome" />-->
        <meta-data
            android:name="com.kt.rozenavi.RozeNaviGlideModule"
            android:value="GlideModule"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="55bca5531e4bd44892f22fae84df6e5e3774836e"
            />

        <activity
            android:name=".ui.main.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarTransParentStatus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.search.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.setting.SettingCarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.setting.SettingRouteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.setting.SettingSoundActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <receiver android:name=".ui.main.alarm.NightAlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="giskey"
            android:value="전달받은 api key 입력" />

        <service
            android:name=".ui.main.service.TbtGuidancePopupService"/>
    </application>

</manifest>